@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {display: block;}

/* End Reset */

/* Utility Classes */
.nowrap{
  white-space: nowrap; /* keeps spans from wrapping */
}

.offscreen {
  position: absolute;
  left: -10000px;
}

/* End Utility Classes */

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  /* Order matters!*/
  /* can have many background images */
  /* can use n colors and directions such as toleft */
  background-image: url('../img/bubbles.png'), 
                    linear-gradient(to left, steelblue, #fff); 
  /* a setting for each image */
  background-repeat: repeat-y, no-repeat; 
  background-position: right, center;

  /* Shorthand to achieve the same as above */
  background: repeat-y right center url("../img/bubbles.png"), no-repeat linear-gradient(to left, steelblue, #fff);

  background-size: 20%, auto;


}

.container{
  background-color: rgb(251, 210, 156);
  background-image: url('../img/map-2176x1451.png'); /* Good practice to use an image twice the size of display size*/
  background-repeat: no-repeat; /* repeat by default, also, repeat-x or repeat-y*/
  background-position: top; /* x y contorls position of image, can use top, center, bottom or a convo of two*/
  background-size: cover; /* makes sure we can see more of the image, also use contains*/
}

.hero {
  border-bottom: 2px solid #000;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: hsla(0, 0%, 100%, 0.35);
  /* background-color: rgb(251, 210, 156);
  background-image: url('../img/map-2176x1451.png'); /* Good practice to use an image twice the size of display size
  background-repeat: no-repeat; /* repeat by default, also, repeat-x or repeat-y
  background-size: cover; makes sure we can see more of the image, also use contains */
}

.h1{
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px #000; /*x y shadow color*/
  /* background-color: hsla(0, 0%, 0%, 0.4);
  padding: .25rem;
  border-radius: 10px; */

}
.profile-pic-figure{
  width: 35%; /* percent of the width of element*/
}

.profile-pic-figure img {
  width: 100%;
  height:auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.example{
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

/* Note images are inline level not block level */
.exmaple img {
  width: 25%;
  height: auto;
}

.clip{
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url("../img/scenic-2200x1331.png");
  background-size: 100%;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color:hsla(0, 0%, 0%, 0.2);
  /* Note that other browsers don't use webkit prefix */
  background-clip: text;
}

